.boton_switch_simetria {
    margin-right: 5%;
    margin-bottom: 5%;
    background: black;
    border-color: black;
}

.boton_switch_simetria:hover {
    border-radius: 1ex;
    border-width: 0.4rem;
    border-color: rgb(235, 11, 11);
}