<!-- boton para cambiar las cards, de foma que sean simetricas a asimetricas -->
<div class="text-right">
    <ng-container *ngIf="cardsSymmetry; then btnAsymmetry else btnSymmetry"></ng-container>
    <ng-template #btnSymmetry>
        <button class="boton_switch_simetria" (click)="cardsSymmetry = !cardsSymmetry">
            <img src="../../../assets/img/botton simetria cards.png">
        </button>
        <app-cards-symmetric [cards]='cards' [type]="type"></app-cards-symmetric>
    </ng-template>
    <ng-template #btnAsymmetry>
        <button class="boton_switch_simetria" (click)="cardsSymmetry = !cardsSymmetry">
            <img src="../../../assets/img/botton asimetria cards.png">
        </button>
            <app-cards-asymmetric [cards]='cards' [type]="type"></app-cards-asymmetric>
    </ng-template>

</div>