<swiper [effect]="'coverflow'" [grabCursor]="true" [centeredSlides]="true" [slidesPerView]="'auto'" [loop]="true"
  [coverflowEffect]="{
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true
    }" [pagination]="true" class="mySwiper">



  <ng-container *ngFor="let item of albums; let index = index">

    <ng-template swiperSlide>
      <img [src]="albums[index].images | noImage : 1" />

      <h2 class="mt-3">{{ item.name }}</h2>


    </ng-template>

  </ng-container>

</swiper>

<!-- hacer que la tabla vaya cambiando en funcion de el album activo
metodo:
  hacer que cuando se pase la foto, se llame a la funcion SwiperPass y esta hace una peticion con el sig album -->
<ng-container *ngIf="data">
  <app-table table="album" [headers]="headers" [data]="data"></app-table>
</ng-container>